# CI for Product Catalog Service

name: product-catalog-ci

on: 
    push:
        branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest

        # expose job outputs
        outputs:
          SHORT_SHA: ${{ steps.vars.outputs.short_sha }}

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Extract 7-char short SHA (job output)
          id: get_short_sha
          run: |
            # create 7-char short sha
            SHORT=${GITHUB_SHA::7}
            echo "short_sha=$SHORT" >> $GITHUB_OUTPUT

        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
            go-version: 1.22
        
        - name: Build
          run: |
            cd src/product-catalog
            go mod download
            go build -o product-catalog-service main.go

        - name: unit tests
          run: |
            cd src/product-catalog
            go test ./...
    
    
    docker:
        runs-on: ubuntu-latest
        

        needs: build

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Install Docker
          uses: docker/setup-buildx-action@v1
        
        - name: Login to Docker
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}

        

        - name: Docker Push
          uses: docker/build-push-action@v6
          with:
            context: src/product-catalog
            file: src/product-catalog/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.ref_name}}-${{ needs.build.outputs.SHORT_SHA }}

    
  